<html lang="en">
<head>
    <style>
        .main {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .welcome {
            font-size: x-large;
        }

        .about {
            font-size: medium;
        }

        .logo {
            opacity: 0.5;
        }

            .logo:hover {
                opacity: 1.0;
            }
    </style>
</head>
<body>
    <table class="main">
        <tr class="welcome">
            <td>Welcome!</td>
        </tr>
        <tr class="about">
            <td>
                <p>
                    JAP Hospital Web Application is a Hospital Management System that should be used by an admin.
                    <br /><br />
                    Click Login to start using the app.<br />
                </p>
                <br /><br />
                <p>
                    Created by
                    <br>
                    <ul style="list-style-type:none;">
                        <li>Akshar Solanki</li>
                        <li>Jaycell Malik</li>
                        <li>Paul Nathaniel Batsantos</li>
                    </ul>
                </p>
            </td>
            <td rowspan="2">
                <img class="logo" src="~/Images/blur-hospital.png" alt="logo" style="width:300px; height:300px" />
            </td>
        </tr>
    </table>
</body>
</html>
